* {
    background-color: black;
    color: rgb(216, 216, 58);
    text-align: center;
    background-image: url(https://static.wikia.nocookie.net/villains/images/7/75/Pollos2.png/revision/latest?cb=20230321121053);
}

#main {
    margin: 0 auto;
}