#page {
    max-width: 1040px;
    margin: 0 auto;
}



header {
    background-color: rgb(34, 29, 29);
    color: white;
    text-align: center;
    height: 150px;
    width: 1220px;
    margin: 0 auto;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    box-shadow: 5px grey;
}

.image-gallery img {
    height: 400px;
    width: 300px;
    box-shadow: 10px grey;
}

footer {
    background-color: rgb(34, 29, 29);
    color: white;
    text-align: center;
    width: 1200px;
    height: 300px;

}

footer {
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-info {
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.home {
    display: flex;
    justify-items: space-between;
}

.info {
    display: flex;
    justify-items: space-between;
}

.contact {
    display: flex;
    justify-items: space-between;
}