#page {
    max-width: 1430px;
    margin: 0 auto;
}

nav {
    max-width: 100%;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    background-image: url("../images/biz-header.jpg");
    max-width: 100%;
    background-position: center;
    height: 486px;
}


header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
}


header nav #left-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 71.5px;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

header nav #middle-nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

header nav #right-nav {
    display: flex;
    margin-right: 71.5px;
}


header nav {
    background-color: #013560;
    max-width: 1430px;
    height: 70px;
}


#page header #navbar-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    color: #FFF;
    padding-top: 100px;
}

#page header #navbar-content div button {
    background-color: #013560;
    color: #FFF;
    border-radius: 5px;
    width: 72px;
    height: 26px;
    border: 0;
}


#page header #navbar-content h1 {
    text-align: center;
}

#page header #navbar-content div {
    text-align: center;
    padding-bottom: 26px;
}

#page header #navbar-content button {
    text-align: center;
}

#page header #navbar-content p {
    text-align: center;
}

/* main begins */

/* slider begins */
#page #slide {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 71.5px;
    margin-right: 71.5px
}

#page #slide img {
    max-width: 100%;
}


#page #slide #button-left {
    left: 36px;
}

#page #slide button {
    border-radius: 23px;
    width: 46px;
    height: 27.34px;
    border: 1px solid #f6e9e9;
    color: #f6e9e9;
    position: relative;
    background: none;
}

#page #slide #button-right {
    right: 36px;
}

/* heading 2  */
#page .heading2 h1 {
    text-align: center;
    margin-top: 30px;
}

/* drawing lol */
#page .heading2 .bruh {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page .heading2 .bruh .pseudo {
    height: 1px;
    width: 49px;
    background-color: #013560;
    text-align: center;
}

#page .heading2 .bruh .circle {
    width: 15px;
    height: 15px;
    background-color: #013560;
    border-radius: 7.5px;
}

#page .heading2 .bruh .pseudo2 {
    height: 1px;
    width: 49px;
    background-color: #013560;
    text-align: center;
}

/* container 1 beggining */
#page .heading2 .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 0px 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);

}

#page .heading2 .container1 .picture img {
    width: 100%;
    height: 100%;
}

#page .heading2 .container1 .text-about-us {
    margin: 15px;
    width: 608px;
    height: 408px;
}

#page .heading2 .container1 .text-about-us button {
    color: #FFF;
    background-color: #013560;
    height: 46px;
    width: 188px;
    border-radius: 13px;
    border: none;
}

#page .heading2 .container1 .text-about-us p {
    color: #666;
}

#page .heading3 {
    text-align: center;
}

#page .heading3 .bruh2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page .heading3 .bruh2 .re-pseudo {
    height: 1px;
    width: 49px;
    background-color: #013560;
    text-align: center;
}

#page .heading3 .bruh2 .re-circle {
    width: 15px;
    height: 15px;
    background-color: #013560;
    border-radius: 7.5px;
}

#page .heading3 .bruh2 .re-pseudo2 {
    height: 1px;
    width: 49px;
    background-color: #013560;
    text-align: center;
}

#page .heading3 .container2 {
    width: 1430px;
    height: 705px;
    text-align: center;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 71.5px;
}

#page .heading3 .container2 .contentz {
    width: 402.33px;
    height: 248px;
    flex-shrink: 0;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
}

#page .heading3 .container2 .contentz .icons {
    width: 100px;
    height: 100px;
}

#page .heading4 {
    text-align: center;
    margin: 0 auto;
}

#page .heading4 .bruh3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page .heading4 .bruh3 .pseudo3 {
    height: 1px;
    width: 49px;
    background-color: #013560;
    text-align: center;
    display: flex;
}

#page .heading4 .bruh3 .circle3 {
    width: 15px;
    height: 15px;
    background-color: #013560;
    border-radius: 7.5px;
    display: flex;
}

#page .heading4 .bruh3 .pseudo3 {
    height: 1px;
    width: 49px;
    background-color: #013560;
    text-align: center;
    display: flex;
}

#page .container3 {
    width: 1430px;
    height: 561px;
    display: flex;
    /* padding: 30px ; */
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


#page .container3 .container3-items img {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

#page .container3 .container3-items {
    width: 341.25px;
    height: 412px;
    display: flex;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
}

#page .container3 .container3-items h2 {
    color: #7BB7C6;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    display: flex;
    gap: -20px;
}

#page .container3 .container3-items .social-connects {
    height: 55px;
    width: 274.25px;
    background-color: #fffcfc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#page .container3 .container3-items .social-connects div {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: #fff;
    display: flex;
    border: 1px solid #7BB7C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page .container3 .container3-items .social-connects div .fb-icon {
    width: 12px;
    height: 18px;
    text-align: center;
    align-items: center;
    display: flex;
}

#page .container3 .container3-items .social-connects div .twitter-icon {
    width: 18px;
    height: 18px;
    text-align: center;
    align-items: center;
    display: flex;
}

#page .container3 .container3-items .social-connects div .insta-icon {
    width: 16px;
    height: 18px;
    text-align: center;
    align-items: center;
    display: flex;
}

#page .container3 .container3-items .social-connects div .in-icon {
    width: 16px;
    height: 18px;
    text-align: center;
    align-items: center;
    display: flex;
}

/* container4 starting */
#page .container4 {
    display: flex;
    width: 1430px;
}

#page .container4 form {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 54.9%;
    /* height: 534px; */
}

#page .container4 form button {
    display: inline-flex;
    padding: 12px 30px 13px 30px;
    border-radius: 10px;
    width: 121px;
    height: 46px;
}

#page .container4 form button h1{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

#page .container4 .google-map {
    display: flex;
    justify-content: space-between;
    width: 45.1%;
    height: 526px;
}