* {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.tru {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 20px;
    border-bottom: 2px solid rgb(32, 149, 114);
    box-shadow: 8px 8px 10px 15px rgb(234, 234, 234);
    border-spacing: 0;
}
.tru th,
td {
    padding: 20px;
}


.oirad {
    background-color: rgb(234, 234, 234);
    color: rgb(73, 154, 127)
}

#determine {
    border-bottom: 3px solid rgb(73, 154, 127);

}

#wraith {
    background-color: rgb(73, 154, 127);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}